USE [Fuente_RH]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 31/10/2016 12:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Legajo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Direccion] [varchar](300) NULL,
	[Sueldo] [float] NOT NULL,
	[Horas_Capacitacion] [int] NOT NULL,
	[Fecha_Ingreso] [date] NOT NULL,
	[ID_Local] [int] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONO_EMPLEADO]    Script Date: 31/10/2016 12:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO_EMPLEADO](
	[Legajo] [int] NOT NULL,
	[Telefono_Empleado] [float] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TELEFONO_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_EMPLEADO_EMPLEADO] FOREIGN KEY([Legajo])
REFERENCES [dbo].[EMPLEADO] ([Legajo])
GO
ALTER TABLE [dbo].[TELEFONO_EMPLEADO] CHECK CONSTRAINT [FK_TELEFONO_EMPLEADO_EMPLEADO]
GO
