USE [Fuente_Entradas]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[Codigo_Categoria] [int] NOT NULL,
	[Descripcion_Categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[Codigo_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[codigo_empleado] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESCUELA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESCUELA](
	[Codigo_Escuela] [int] NOT NULL,
	[Nombre_Escuela] [varchar](50) NOT NULL,
	[Domicilio_Escuela] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESCUELA] PRIMARY KEY CLUSTERED 
(
	[Codigo_Escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEM_VENTA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[Codigo_Tipo_Visita] [int] NOT NULL,
	[Cantidad_Alumnos_Reales] [int] NOT NULL,
	[Arancel_por_Alumno] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TELEFONO_ESCUELA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TELEFONO_ESCUELA](
	[Codigo_Escuela] [int] NOT NULL,
	[Telefono_Escuela] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_VISITA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_VISITA](
	[Codigo_Tipo_Visita] [int] NOT NULL,
	[Descripcion_Tipo_Visita] [varchar](50) NOT NULL,
	[Arancel_Por_Alumno] [float] NOT NULL,
	[Codigo_Categoria] [int] NOT NULL,
 CONSTRAINT [PK_TIPO_VISITA] PRIMARY KEY CLUSTERED 
(
	[Codigo_Tipo_Visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 31/10/2016 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Codigo_Empleado] [int] NOT NULL,
	[Codigo_Escuela] [int] NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[Numero_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_TIPO_VISITA] FOREIGN KEY([Codigo_Tipo_Visita])
REFERENCES [dbo].[TIPO_VISITA] ([Codigo_Tipo_Visita])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_TIPO_VISITA]
GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_VENTA] FOREIGN KEY([Numero_Ticket])
REFERENCES [dbo].[VENTA] ([Numero_Ticket])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_VENTA]
GO
ALTER TABLE [dbo].[TELEFONO_ESCUELA]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_ESCUELA_ESCUELA] FOREIGN KEY([Codigo_Escuela])
REFERENCES [dbo].[ESCUELA] ([Codigo_Escuela])
GO
ALTER TABLE [dbo].[TELEFONO_ESCUELA] CHECK CONSTRAINT [FK_TELEFONO_ESCUELA_ESCUELA]
GO
ALTER TABLE [dbo].[TIPO_VISITA]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_VISITA_CATEGORIA] FOREIGN KEY([Codigo_Categoria])
REFERENCES [dbo].[CATEGORIA] ([Codigo_Categoria])
GO
ALTER TABLE [dbo].[TIPO_VISITA] CHECK CONSTRAINT [FK_TIPO_VISITA_CATEGORIA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_EMPLEADO] FOREIGN KEY([Codigo_Empleado])
REFERENCES [dbo].[EMPLEADO] ([codigo_empleado])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_EMPLEADO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_ESCUELA] FOREIGN KEY([Codigo_Escuela])
REFERENCES [dbo].[ESCUELA] ([Codigo_Escuela])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_ESCUELA]
GO
