USE [Fuente_Ventas1]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 31/10/2016 12:57:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_Categoria] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_Empleado] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESCUELA]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESCUELA](
	[ID_Escuela] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Domicilio] [varchar](300) NOT NULL,
 CONSTRAINT [PK_ESCUELA] PRIMARY KEY CLUSTERED 
(
	[ID_Escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEM_VENTA]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_Producto] [int] NOT NULL,
	[ID_Subcategoria] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Precio_Actual] [float] NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBCATEGORIA]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBCATEGORIA](
	[ID_Subcategoria] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SUBCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_Subcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONO_ESCUELA]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TELEFONO_ESCUELA](
	[ID_Escuela] [int] NOT NULL,
	[Telefono_Escuela] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 31/10/2016 12:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[Fecha_Venta] [date] NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[ID_Escuela] [int] NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[Numero_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_PRODUCTO] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[PRODUCTO] ([ID_Producto])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_VENTA] FOREIGN KEY([Numero_Ticket])
REFERENCES [dbo].[VENTA] ([Numero_Ticket])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_SUBCATEGORIA] FOREIGN KEY([ID_Subcategoria])
REFERENCES [dbo].[SUBCATEGORIA] ([ID_Subcategoria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_SUBCATEGORIA]
GO
ALTER TABLE [dbo].[SUBCATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_SUBCATEGORIA_CATEGORIA] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[CATEGORIA] ([ID_Categoria])
GO
ALTER TABLE [dbo].[SUBCATEGORIA] CHECK CONSTRAINT [FK_SUBCATEGORIA_CATEGORIA]
GO
ALTER TABLE [dbo].[TELEFONO_ESCUELA]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_ESCUELA_ESCUELA] FOREIGN KEY([ID_Escuela])
REFERENCES [dbo].[ESCUELA] ([ID_Escuela])
GO
ALTER TABLE [dbo].[TELEFONO_ESCUELA] CHECK CONSTRAINT [FK_TELEFONO_ESCUELA_ESCUELA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_EMPLEADO] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[EMPLEADO] ([ID_Empleado])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_EMPLEADO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_ESCUELA] FOREIGN KEY([ID_Escuela])
REFERENCES [dbo].[ESCUELA] ([ID_Escuela])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_ESCUELA]
GO
