USE [Fuente_Ventas2]
GO
/****** Object:  Table [dbo].[CAT]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAT](
	[Cod_Cat] [int] NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_CAT] PRIMARY KEY CLUSTERED 
(
	[Cod_Cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Cod_Empleado] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[Cod_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESCUELA]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESCUELA](
	[Cod_Escuela] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Domicilio] [varchar](300) NOT NULL,
 CONSTRAINT [PK_ESCUELA] PRIMARY KEY CLUSTERED 
(
	[Cod_Escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEM_VENTA]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[Cod_Prod] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROD]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROD](
	[Cod_Prod] [int] NOT NULL,
	[Cod_Subcat] [int] NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[Precio_Actual] [float] NOT NULL,
 CONSTRAINT [PK_PROD] PRIMARY KEY CLUSTERED 
(
	[Cod_Prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBCAT]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBCAT](
	[Cod_Subcat] [int] NOT NULL,
	[Cod_Cat] [int] NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_SUBCAT] PRIMARY KEY CLUSTERED 
(
	[Cod_Subcat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEL_ESCUELA]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEL_ESCUELA](
	[Cod_Escuela] [int] NOT NULL,
	[Tel_Escuela] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 31/10/2016 12:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[Numero_Ticket] [int] NOT NULL,
	[Fecha_Venta] [date] NOT NULL,
	[Cod_Empleado] [int] NOT NULL,
	[Cod_Escuela] [int] NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[Numero_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_PROD] FOREIGN KEY([Cod_Prod])
REFERENCES [dbo].[PROD] ([Cod_Prod])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_PROD]
GO
ALTER TABLE [dbo].[ITEM_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENTA_VENTA] FOREIGN KEY([Numero_Ticket])
REFERENCES [dbo].[VENTA] ([Numero_Ticket])
GO
ALTER TABLE [dbo].[ITEM_VENTA] CHECK CONSTRAINT [FK_ITEM_VENTA_VENTA]
GO
ALTER TABLE [dbo].[PROD]  WITH CHECK ADD  CONSTRAINT [FK_PROD_SUBCAT] FOREIGN KEY([Cod_Subcat])
REFERENCES [dbo].[SUBCAT] ([Cod_Subcat])
GO
ALTER TABLE [dbo].[PROD] CHECK CONSTRAINT [FK_PROD_SUBCAT]
GO
ALTER TABLE [dbo].[SUBCAT]  WITH CHECK ADD  CONSTRAINT [FK_SUBCAT_CAT] FOREIGN KEY([Cod_Cat])
REFERENCES [dbo].[CAT] ([Cod_Cat])
GO
ALTER TABLE [dbo].[SUBCAT] CHECK CONSTRAINT [FK_SUBCAT_CAT]
GO
ALTER TABLE [dbo].[TEL_ESCUELA]  WITH CHECK ADD  CONSTRAINT [FK_TEL_ESCUELA_ESCUELA] FOREIGN KEY([Cod_Escuela])
REFERENCES [dbo].[ESCUELA] ([Cod_Escuela])
GO
ALTER TABLE [dbo].[TEL_ESCUELA] CHECK CONSTRAINT [FK_TEL_ESCUELA_ESCUELA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_EMPLEADO] FOREIGN KEY([Cod_Empleado])
REFERENCES [dbo].[EMPLEADO] ([Cod_Empleado])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_EMPLEADO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_ESCUELA] FOREIGN KEY([Cod_Escuela])
REFERENCES [dbo].[ESCUELA] ([Cod_Escuela])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_ESCUELA]
GO
